<div class="about-tab">
    <h1 class="title about-title">About Me</h1>
    <div class="about-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac quam nec nibh semper sodales. Ut lacus urna, tincidunt a eleifend at, iaculis eget ipsum. Aliquam suscipit metus id imperdiet scelerisque. Fusce mattis, lacus in consectetur mattis,
        augue odio pharetra eros, eget bibendum urna lectus dignissim odio. Vivamus vehicula feugiat nulla, sed viverra quam dictum sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vulputate dui ultricies,
        ullamcorper ante lobortis, finibus urna. Vestibulum a mi eu enim laoreet eleifend. Sed sagittis diam quis congue pretium.
    </div>
</div>