.selected {
    border-bottom: 2px solid #ff5a5f;
    color: #ff5a5f;
}

.project-tab{
    margin-top: 80px;
}

.projects {        
    list-style-type: none;    
}

.projects li {
    margin: 0px 5px;
    cursor: pointer;
    position: relative;   
}

.projects li.selected:hover {
    border-bottom: 2px solid #607D8B;
    color: #607D8B;
}

.projects li:hover {
    border-bottom: 2px solid #607D8B;    
    color: #607D8B;    
}

.projects .text {
    position: relative;
    margin-top: 15px;
    /*top: -3px;*/
}