.img-project{
    height: 400px;    
}
.project-detail-btn:hover, .project-detail-btn:focus, .project-detail-btn:active, .project-detail-btn.active, .open > .dropdown-toggle.project-detail-btn {
    background: none;
    border: 2px solid #607D8B;
    color: #607D8B;
    padding-top:10px; 
}
.project-detail-btn {
  background: #607D8B;    
  color: #fff;   
  text-decoration: none;
  border: none;
  height: 45px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-anchor: middle;
  padding-top: 12px;
}